*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /*Hides Scroll bar*/
}

canvas
{
    background-color: green;
    
}

/* unfortunately, I believe it's too late for me to migrate some of my styling to css, 
but to compensate I change the background to green to make it less basic and added some sound effect to make the game satisfying 
and still preserve the retro aesthetic I'm going for.*/