*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /*Hides Scroll bar*/
}

canvas
{
    background-color: green;
    
}

canvas paddlepaddleOneY
{
    background-color: black;

}